@preservewhitespace true
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using FixtureManagementV3.Models
@using FixtureManagementV3.ViewModels
@using FixtureManagementV3.Data
@using System.Linq

<div>
    <QuickGrid Items="Fixtures" Theme="corporate" id="fixtures" class="table table-striped table-sm">
        <PropertyColumn Property="fixture => fixture.Date" />
        @if (!@TeamHidden)
        {
            <TemplateColumn Context="fixture" title="Team">
                <a href="@($"teams/details?id={fixture.TeamId}")">@fixture.Team</a>
            </TemplateColumn>
        }
        <PropertyColumn Title="H/A" Property='fixture => (fixture.IsHome ? "H" : "A")'/>
        <TemplateColumn Context="fixture" title="Opponent">
            <a href="@($"fixtures/{(CanEdit ? "edit" : "details")}?id={fixture.Id}")">@fixture.Opponent</a>
        </TemplateColumn>
        <PropertyColumn Property="fixture => fixture.Opponent" />
        <PropertyColumn Property="fixture => fixture.Type" Class="d-none d-sm-table-cell"/>
        <PropertyColumn Property="fixture => fixture.Start" />
        <PropertyColumn Property="fixture => fixture.Pitch" />
        <TemplateColumn Context="fixture">
            @if(CanEdit)
            {
                <a href="@(ActionURL("edit", fixture.Id))"><Icon Type="Icon.IconType.Edit"/></a>
                <a href="@(ActionURL("delete", fixture.Id))"><Icon Type="Icon.IconType.Delete"/></a>        
                @if (fixture.IsHome) {
                    <a href="@(ActionURL("allocate", fixture.Id))"><Icon Type="Icon.IconType.Schedule"/></a>
                }
            }
        </TemplateColumn>
    </QuickGrid>
</div>

@code {

    [Parameter, EditorRequired]
    public required IQueryable<FixtureViewModel> Fixtures {get; set;}
    [Parameter]
    public bool CanEdit {get; set;}
    [Parameter]
    public bool TeamHidden {get; set;}= true;
    private string ActionURL(string action, Guid id) => $"fixtures/{action}?id={id.ToString()}&returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}";

}   
